#profile {
  position: absolute;
  right: 25px;
  top: 25px;
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-button {
  margin-top: 10px;
}
#change-nickname {
  display: flex;
  flex-direction: column;
}
.dice {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.dice.selected {
  background-color: lightblue;
  font-weight: bold;
}
